.categories-navbar-container{
  border-bottom: 1px solid rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  padding: 8px 8px 8px 0px;
  text-align: center;
  background-color: black;
}
.categories-map-container{
  /* background-color: black; */
  width: 50%;
  display: flex;
  justify-content: space-around;

}

.category-name{
  color: wheat;
  /* background-color: rgb(255, 255, 255); */
  background-color: black;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 6px 0px;
  transition: color 0.2s ease 0s;
  font-size: 16px;
  font-family: "helvetica neue",helvetica,arial,sans-serif;
  min-height: 32px;
  padding-left: 12px;
  padding-right: 12px;
  line-height: 1.25;
  border-radius: 4px;
  margin-left: 8px;
  display: inline-flex;
  align-items: center;
  position: relative;
  /* width: 100%; */
}

.cat-button.a{
  color:white
}
.remove-underline{
  text-decoration: none;
}
