lp-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 25%;
  padding-top: 4%;
}

.lp-title-container{
  height: 100%;
  /* border: 1px solid pink; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 5px solid rgb(238, 238, 238);
  /* margin-bottom: 5%; */
}
.lp-title{
  margin-left: 20%;
    padding-top: 3%;
    height: 100%;
    /* border: 1px solid purple; */
    width: 50%;
    display: flex;
    /* align-items: end; */
    /* margin-top: 2%; */
    padding-bottom: 1%;
}
lp-rows-wrapper {
  display: flex;
  flex-direction: row;
}

lp-rows-wrapper-no-love {
  display: flex;
  background-color: rgb(223, 222, 223);
  justify-content: center;
  align-items: center;
}

lp-left-column {
  width: 100%;
  padding-top: 4%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  background-color: rgb(223, 222, 223);
  height: 10%
}

lp-left-column-no-love {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20%;
  padding-top: 4%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  margin-top: 4%;
  background-color: white;
  height: 500px;
}

.lp-item-row {
  display: flex;
  flex-direction: row;
}

.lp-items-columns {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 50%;
  padding-top: 2%;
  padding-bottom: 2%;
  align-items: center;
  gap: 20%;
}

.lp-item-rows {
  display: flex;
  background-color: white;
  height: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom: 1px solid rgb(238, 238, 238);
  border-top: 1px solid rgb(238, 238, 238);
  /* width: 75%; */
  width: 60%;
  /* margin-left: 13%; */
  margin-left: 20%;

}

.lp-item-left-column {
  width: 30%;
  height: 100%;
}

.lp-item-img-container {
  width: 75%;
  /* padding-left: 35%; */
  display: flex;
}

.lp-item-img {
  max-width: 80%;
  max-height: 35%;
  object-fit: contain;
}

.lp-item-mid-column {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 10%;
  margin-top: 3%;
  /* justify-content: center; */
  /* border: 1px solid blue; */
  /* padding-left: 5%; */
}

.lp-brand-price-row {
  display: flex;
  /* border-bottom: 1px solid rgb(238, 238, 238); */
  /* border: 1px solid blue; */
  width: 100%;
}

.lp-item-brand {
  width: 100%;

}

.lp-item-price {
  width: 50%;
  margin-left: 35%;
}

.lp-right-column {
  width: 20%;
  display: flex;
  align-items: baseline;
  /* gap: 25%; */
  gap: 12%;

  margin-top: 3%;

}

.lp-buy-it-container {
  height: 50px;
  display: flex;
  flex-direction: row;
  width:100%;
}

/* .lp-buy-it-container :hover {
  text-decoration: none;
} */

.lp-buy-it {
  background-color: #cf112c;
  border-radius: 9999px;
  height: 50px;
  /* width: 30%; */
  /* width:100%; */
  width: 190px;

}

.lp-buy-it :hover {
  text-decoration: none;
}
