/* TODO Add site wide styles */
*{
  margin:0;
  border: border-box;
  border-width: 0;
}
.font{
  font-family: "helvetica neue",helvetica,arial,sans-serif;
  color:black;
  text-decoration: none;
}
.remove-underline{
  text-decoration: none;
}
.remove-underline:hover{
  text-decoration: underline;
}
[role='button'],button{
  cursor:pointer;

}
/* *************************** BLACK FONTS ******************************** */

.font-11{
  font-family: "helvetica neue",helvetica,arial,sans-serif;
  font-size: 11px;
  color:black;
  text-decoration: none;
}
.font-12{
  font-family: "helvetica neue",helvetica,arial,sans-serif;
  font-size: 12px;
  color:black;
  text-decoration: none;
  /* white-space: pre-line; */

}
.font-14{
  font-family: "helvetica neue",helvetica,arial,sans-serif;
  font-size:14px;
  color:black;
  /* text-decoration: none; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.font-16{
  font-family: "helvetica neue",helvetica,arial,sans-serif;
  font-size:16px;
  color:black;
  text-decoration: none;
}
.font-18{
  font-family: "helvetica neue",helvetica,arial,sans-serif;
  font-size:18px;
  color:black;
  text-decoration: none;
}
.font-20{
  font-family: "helvetica neue",helvetica,arial,sans-serif;
  color:black;
  font-size:20px;
  text-decoration: none;
}
.font-24{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:black;
  font-size:24px;
  text-decoration: none;
}
/* *************************** WHITE FONTS ******************************** */
.font-11-white{
  font-family: "helvetica neue",helvetica,arial,sans-serif;
  font-size: 11px;
  color:white;
  text-decoration: none;
}
.font-12-white{
  font-family: "helvetica neue",helvetica,arial,sans-serif;
  font-size: 12px;
  color:white;
  text-decoration: none;
  /* white-space: pre-line; */

}
.font-14-white{
  font-family: "helvetica neue",helvetica,arial,sans-serif;
  font-size:14px;
  color:white;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

.font-16-white{
  font-family: "helvetica neue",helvetica,arial,sans-serif;
  font-size:16px;
  color: white;
  text-decoration: none;
}
.font-18-white{
  font-family: "helvetica neue",helvetica,arial,sans-serif;
  font-size:18px;
  color:white;
  text-decoration: none;
}
.font-20-white{
  font-family: "helvetica neue",helvetica,arial,sans-serif;
  color:white;
  font-size:20px;
  text-decoration: none;
}
