@media screen and (max-width:1024px){
  .product-details-page-container{

  }
  .product-details-columns-container{
  display: flex;
  /* justify-content: center; */
  margin-left: 4%;
  }
  .product-details-container{
    display: flex;
    margin-left: 5%;
    /* width: 50% */
    /* gap:10% */
  }
  .product-details-info-container{
    margin-top: 55px;
    /* border:1px solid blue; */
    margin-left: 50px;
  }
  .product-details{
    /* width:20px */
  }
  .product-details-rows-containers{
    /* height: 100%;
    width: 100%; */
  }

  .product-details-row-divider{

  }

  .product-details-upper-row{

  }

  .product-details-lower-columns{

  }

  .product-details-column-left{

  }

  .product-details-column-mid{

  }

  .product-details-column-right{

  }
}
/* ******************** FULL SIZE ************************* */
.product-details-page-container{
  max-width: 1280px;
  margin: 0 230px;

}
.product-details-columns-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-details-container{
  /* display: flex;
  width: 100%;
  gap: 20%;
  margin-top:5%; */
  display: flex;
  /* border: 1px solid green; */
  width: 100%;

  margin-top: 5%;
  flex-direction: row;
}
 
.product-details-img-container{
  /* margin-top:50px; */
  /* border: 1px solid green; */
  width:100%;
  /* object-fit: contain; */
}
/* **************** RIGHT COLUMN ******************** */
.product-details-info-container{

  width:100%;

}

.product-details{
  /* border: 1px solid blue; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
}

/* ***************** PRODUCT ABOUT , INGREDIENTS, HOW TO USE ROWS ******************** */
.product-details-rows-containers{
  height: 100%;
  width: 100%;
  margin-top:50px
}
.product-details-row-text-div{
  border-bottom: 1px solid rgb(238, 238, 238);
  padding-bottom: 20px;
}
.product-details-row-header{
  height: 50px;
  /* border-bottom: 1px solid rgb(238, 238, 238); */
  border-top: 1px solid rgb(238, 238, 238);
  padding-top:20px
}
.product-details-upper-row{
  /* border-bottom: 1px solid rgb(238, 238, 238); */
}

/* *********************** REVIEWS **************************** */
.reviews-section{
  /* border:1px solid green; */

}
.product-details-lower-columns{

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: center; */

}

.product-details-column-left{
  /* border:1px solid blue; */
  /* border-left: 1px solid rgb(238, 238, 238); */
  display: flex;
  /* align-items: center; */
  width: 15%;
  height: 100px;
  justify-content: center;
}

.product-details-review-button{
  background-color: #cf112c;
  border-radius: 999px;
  height: 50px;
  width: 150px;
}
.product-details-column-mid{

  /* border-left: 1px solid rgb(238, 238, 238); */
  width: 89%;
  height: 100px;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}

.review-div{
  display: flex;
  flex-direction: row;
  /* width: 100%; */

}

.product-details-column-right{
  /* border: 1px solid blue; */
  /* height: 30px; */
  height: 50px;
  display: flex;
  align-items: center;
  border-left: 1px solid rgb(238, 238, 238);
  width:10%;

}
.review-name{
  /* border: 1px solid blue; */
  height: 100px;
  width:100%;

  display: flex;
  align-items: center;
  margin-left: 10px;
}
.reviews-div{
  border-bottom: 1px solid rgb(238, 238, 238);
  width: 100%;
  display: flex;
  align-items: center;

  /* border:1px solid blue; */

}
