#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:1px solid blue */
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #0a0a0b;
  opacity: 80%;
}

.modal-content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  position: absolute;
  background-color: #36393f;
  border-radius: 10px;
  height: 488px;
  width: 400px;
  object-fit: contain;
  /* border:1px solid blue */
}
