#modal {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:1px solid blue */
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #040303;
  opacity: 80%;
}

.modal-content {

  display: flex;
  flex-direction: column;
  /* justify-content: center; */

  position: absolute;
  background-color: white;
  border-radius: 10px;
  height: 488px;
  width: 472px;
  object-fit: contain;
  border: 1px solid blue;
}

/* ******************* SIGN UP MODAL *********************** */
.modal-form-container {
 /* border: 1px solid blue; */
  padding: 16px 16px 32px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

#signup-title-div {
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  border-bottom: 1px solid rgb(238, 238, 238);
  min-height: 30px;
  text-align: center;
  padding: 16px 37px;
  display: block;
}

/* .first-last-names{
  border:1px solid pink;
  display: flex;
  gap:20px;
} */

.modal-form {
  border: 1px solid black;
  height: 452px;
}

.inputs-row-div {
  display: flex;
  flex-direction: column;
  height: 15%;
  /* margin-bottom: 16px;
  margin-top: 10px;
  justify-content: space-around; */
  /* border:1px solid green; */
  /* border-color: rgb(238, 238, 238, 238); */
}

.inputs-columns-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  margin-top: 10px;
  justify-content: space-around;
  /* border: 1px solid blue; */
  height: 260px;
  /* grid-gap: 20px; */
  gap: 20px;
  /* padding-top: 12px; */
}

.label-inp-div {
  position: relative;
  display: flex;
  flex: 1;
  margin: -1;
}

.fn-label-transition {
  position: absolute;
  color: rgb(102, 102, 102);
  top: 103px;
  left: 33px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  transition-duration: 0.2s;
  line-height: 1.5;
}

.ln-label-transition{
  display: flex;
    align-items: center;
    flex: 1 1 0%;
    font-family: inherit;
    font-size: 14px;
    margin: 1px;
    padding-left: 16px;
    padding-right: 12px;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border-width: 0px;
    box-shadow: none;
    appearance: none;
    padding-top: 14px;
    position: absolute;
}
.ln-label-nontransition {
  position: absolute;
  color: rgb(102, 102, 102);
  top: 13px;
  left: 16px;
  right: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  transition-duration: 0.2s;
  line-height: 1.5;
}
/* display: flex;
    align-items: center;
    flex: 1 1 0%;
    font-family: inherit;
    font-size: 14px;
    margin: 1px;
    padding-left: 16px;
    padding-right: 12px;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border-width: 0px;
    box-shadow: none;
    appearance: none; */

.ea-label-transition {
  position: absolute;
  color: rgb(102, 102, 102);
  top: 174px;
  left: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  transition-duration: 0.2s;
  line-height: 1.5;
}

.p-label-transition {
  position: absolute;
  color: rgb(102, 102, 102);
  top: 245px;
  left: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  transition-duration: 0.2s;
  line-height: 1.5;
}

.cp-label-transition {
  position: absolute;
  color: rgb(102, 102, 102);
  top: 315px;
  left: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  transition-duration: 0.2s;
  line-height: 1.5;
}

/* .label-transition:focus{
  outline: 0;
  transition-duration: 0.2s;
  line-height: .5;
  border: 1px solid green;
} */
.modal-inp-row{
  display: flex;
  align-items: center;
  flex: 1 1 0%;
  margin: 1px;
  padding-left: 16px;
  padding-right: 12px;
  color: rgb(0, 0, 0);
  border-width: .1px;
  border-color: rgb(239, 239, 239);
  /* border-color: rgb(204, 204, 204); */
  box-shadow: none;
  border-radius: 4px;
  height: 44px;
}
.modal-inp {
  display: flex;
  align-items: center;
  flex: 1 1 0%;
  font-family: inherit;
  font-size: 14px;
  margin: 1px;
  padding-left: 16px;
  padding-right: 12px;
  color: rgb(0, 0, 0);
  border-width: .1px;
  border-color: rgb(239, 239, 239);
  /* border-color: rgb(204, 204, 204); */
  box-shadow: none;
  border-radius: 4px;
  height: 44px;

}
.join-now-button-div{
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap:2%
}
.sign-in-now-buttton-div{
  margin-top:2%;
  display: flex;
  justify-content: center;
}
#join-now {
  height: 44px;
  width:158px;
  padding: 0.25em 1.125em;
  border-width: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  border-color: transparent;
  text-align: center;
  text-decoration: none;
  border-radius: 99999px;
  appearance: none;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  transition: background-color 0.2s ease 0s;
}
.text.renderError {
  color: rgb(121, 56, 56)
}

.text.noRenderError {
  color: black
}
.errors-div {
 color: black;
}
/* ***************************** LOGIN MODAL ********************************** */
.login-modal-form {
  border: 1px solid black;
  height: 452px;
  display: flex;
  flex-direction: column;
  gap:5%;
  margin: 0 2%;
}
#login-title-div {
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  border-bottom: 1px solid rgb(238, 238, 238);
  min-height: 30px;
  text-align: center;
  padding: 16px 37px;
  display: block;
}

.login-input-row-div{
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  margin-top: 10px;
  justify-content: space-around;
}

.inputs-row-submit-div {
  display: flex;
  flex-direction: column;
  /* height: 5%; */
  /* margin-bottom: 16px;
  margin-top: 10px;
  justify-content: space-around; */
  /* border:1px solid green; */
  /* border-color: rgb(238, 238, 238, 238); */
}

#demo-button{
  height: 44px;
  width:158px;
  padding: 0.25em 1.125em;
  border-width: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  border-color: transparent;
  text-align: center;
  text-decoration: none;
  border-radius: 99999px;
  appearance: none;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  transition: background-color 0.2s ease 0s;
}
#sign-in-now{
  height: 44px;
  width:158px;
  padding: 0.25em 1.125em;
  border-width: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  border-color: transparent;
  text-align: center;
  text-decoration: none;
  border-radius: 99999px;
  appearance: none;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  transition: background-color 0.2s ease 0s;
}
.new-sephora-text{
  display: flex;
  align-items: center;
  /* border:1px solid blue; */
  height: 100%;
}

#create-new-account-button{
  height: 40px;
  width:140px;
  padding: 0.25em 1.125em;
  border-width: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  border-radius: 99999px;
  appearance: none;
  /* color: rgb(255, 255, 255); */
  /* background-color: white; */
  transition: background-color 0.2s ease 0s;
}
