@media screen and (max-width:1025px) {
  .profile-dropdown-signin {
    z-index: 1;
    border-radius: 5px;
    background-color: white;
    /* border: 1px solid grey; */
    padding-top: 3px;
    padding-bottom: 3px;
    position: absolute;
    font-weight: normal;
    font-style: normal;
    font-size: smaller;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
    height: 200px;
    top: 110px;
    left: 74%;
    box-shadow: rgb(255 255 255) 0px 0px 2px 6px, rgb(0 0 0) 0px 0px 2px 5px;
  }
}

.navBar-container {
  /* border: 1px solid red; */
  /* height: 100vh; */
}

/* ******************* DEALS HEADER *********************** */
.nav-deals {
  /* border: 1px solid red; */
  background-color: #a21130;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-left: 36%;
}

.nav-deals-text {
  /* border:1px solid blue; */
  width: 100%;
  justify-content: center;
}

.deals-img {
  /* height: 41px;
  width: 50px; */
  width: 418px;
  height: 41px;
}

/* ********************* NAVBAR **************************** */
.nav-box {
  /* border: 1px solid purple; */
  border-bottom: 1px solid rgb(238, 238, 238);

  /* display: flex;
  height: 80px;
  padding: 0 16px; */
  display: flex;
  align-items: center;
  padding-left: 16px;
  /* margin-left: -16px; */
  /* padding-right: 16px; */
  /* margin-right: -16px; */
  height: 80px;
  gap: 80px;
  justify-content: center;
  /* padding-right: 16px; */
}

.nav-logo {
  /* padding-top: 16px;
  padding-bottom: 16px; */
  width: 125px;
  text-decoration: none;

}

.nav-search {
  width: 510px;
  /* border: 1px solid black; */
}

/* *********************** USER **********************/
.acct-buttons {
  /* height: 80px; */
  display: flex;
  width: 219px;
  /* border: 1px solid blue; */
  /* grid-gap: 26px; */
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-acct-img {
  /* border: 1px solid purple; */
  /* height: 20px; */
  width: 38px;
}

.nav-acct-img img :hover {
  width: 32px;
  object-fit: cover;
}

#user-space-text {
  display: flex;
  background-color: white;
  /* border:1px solid black; */
  align-items: center;
}

.nav-sign-text {

  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.emoji-button {
  background-color: none;
  font-size: 30px;
  color: black;
}

/* ********************* DROP DOWN ********************** */
.dropdown-container {
  height: 100px;
    display: flex;
    align-items: center;
}

.profile-button-onEnter {}

.profile-button-onLeave {
  visibility: hidden;
  opacity: 0;
  transform: translateY(8px);
}

.profile-dropdown-signin {
  z-index: 1;
  border-radius: 5px;
  background-color: white;
  /* border: 1px solid grey; */
  padding-top: 3px;
  padding-bottom: 3px;
  position: absolute;
  font-weight: normal;
  font-style: normal;
  font-size: smaller;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
  height: 160px;
  /* transition: all 100s ease-in 0s; */
  /* transition-property: all; */
  top: 110px;
  /* bottom: 633px; */
  left: 64%;
  /* box-shadow: rgb(255 255 255) 0px 0px 0px 4px, rgb(0 0 0) 0px 0px 0px 5px; */
  box-shadow: rgb(255 255 255) 0px 0px 2px 6px, rgb(0 0 0) 0px 0px 2px 5px;
}

.profile-img-container {
  /* border:1px solid blue; */
  display: flex;
  justify-content: center;
  width: 60px;
}
.img-greetings{
  /* border:1px solid blue; */
  display: flex;
  margin-top:2%;

}

.profile-img {
  /* height:130% */
}

.profile-greeting {
  /* border:1px solid red; */
  display: flex;
  width: 75%;
  overflow:hidden;
  white-space: pre-line;
  margin-left:5%
}

.signin-login-buttons-container{
  /* border:1px solid red;
  height: 30px;
  display: flex;
  justify-content: center;
  gap:5px; */
  margin-top:2%;
  padding-bottom:2%;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.not-signed-button-container{
  /* border: 1px solid red; */
  height: 30px;
  display: flex;
  justify-content: center;
  gap:5px;
  margin-top:5%;
  padding-bottom:5%;
  border-bottom: 1px solid rgb(238, 238, 238);
}
.profile-signin {
  width: 100%;
  background-color: black;
  border-radius: 9999px;

}

.profile-login {
  width: 100%;
  border: 1px solid black;
  border-radius: 9999px;
  background-color: white;
}

.buy-it-again-container{
  /* border:1px solid red; */
  margin-top:5%;
  display: flex;
  /* border-bottom: 1px solid rgb(238, 238, 238); */
  padding-bottom:2%;

  /* width:99%; */
}

.buy-it-again-container-signed-in{
  /* border:1px solid blue; */
  display: flex;
  /* border:1px solid blue; */
  margin-top:2%;
  padding-top: 1%;
  display: flex;
  border-bottom: 1px solid rgb(238, 238, 238);
  /* padding-bottom:2%; */
  /* margin-bottom: 15%; */
  /* background-color: white; */

}
.buy-it-again-button{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  /* border:1px solid blue */
}
.buy-it-again-button-signed-in{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  margin-bottom: 5%;
}
.logout-button-container{
  height:40px;
  margin-top:2%;
  display: flex;
  justify-content: flex-start;
  /* border-bottom: 1px solid rgb(238, 238, 238); */

}

.no-logout-button-container{

}
.logout-button{
  background-color: white;
  width:100px;
  text-align: left;
  /* border:1px solid red; */
}
